---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout titulo="Multipolimeros | Nuestra empresa">
    <div class="flex flex-col md:flex-row justify-between items-start my-8">
        <div class="md:w-2/4 flex flex-col mx-auto">
            <h2 class="text-2xl font-semibold p-4 bg-blue-800 border-b-4 border-orange-600 text-white text-center mb-4">Nuestra empresa</h2>
            <img src="/images/nuestraempresa.jpg" alt="Nuestra empresa" width="300" class="mx-auto rounded">
            <p class="w-2/5 mx-auto my-4 leading-relaxed">
                Multi Polímeros es una empresa dedicada al desarrollo, fabricación y comercialización de resinas y especialidades químicas principalmente para la industria de los recubrimientos. Orgullosamente, contamos con tecnología propia desarrollada 100% en México lo que nos ha permitido acumular la suficiente 
                experiencia para ofrecer a todos nuestros clientes alternativas de alta calidad y desempeño.
            </p>
        </div>

        <div class="md:w-2/4 flex flex-col mx-auto">
            <h2 class="text-2xl font-semibold p-4 bg-blue-800 border-b-4 border-orange-600 text-white text-center mb-4">Filosofía MultiPolímeros</h2>

            <div class="p-8 border border-gray-200 shadow-md rounded mx-4 hover:bg-blue-800 hover:text-white duration-300">
                <h3 class="text-xl font-semibold text-orange-600">
                    Visión
                </h3>
                <p class="my-4 leading-relaxed">
                    Ser una empresa rentable y en continuo crecimiento que siempre sea reconocida por la calidad y desempeño de sus productos, servicios, 
                    así como por su compromiso con el desarrollo de sus colaboradores y su comunidad. 
                </p>
            </div>

            <div class="border-t-4 border-blue-800 mx-4 my-6"></div>

            <div class="p-8 border border-gray-200 shadow-md rounded mx-4 hover:bg-blue-800 hover:text-white duration-300">
                <h3 class="text-xl font-semibold text-orange-600">
                    Misión
                </h3>
                <p class="my-4 leading-relaxed">
                    Satisfacer plenamente a nuestros clientes con productos de alta calidad producidos y formulados de manera eficiente y rentable, de manera que cada una de nuestras actividades tiendan a mejorar nuestra posición competitiva
                     y financiera así como a incrementar el nivel de vida de los que aquí trabajamos.
                </p>
            </div>

            <div class="border-t-4 border-blue-800 mx-4 my-6"></div>

            <div class="p-8 border border-gray-200 shadow-md rounded mx-4 hover:bg-blue-800 hover:text-white duration-300">
                <h3 class="text-xl font-semibold text-orange-600">
                    Valores
                </h3>
                <p class="my-4 leading-relaxed">
                    <strong>Lealtad</strong>: Tenemos la sinceridad ante nuestros clientes de ser honestos y fieles a la obligaciones de servicio contraídas con ellos.
                </p>
                <p class="my-4 leading-relaxed">
                    <strong>Responsabilidad</strong>: Somos un grupo de personas que le otorgamos a los clientes la seguridad de cumplir nuestras obligaciones de servicio.
                </p>
                <p class="my-4 leading-relaxed">
                    <strong>Respeto</strong>: Nuestra convicción es atender con cortesía la opinión de las personas o instituciones de negocios en las que tenemos relaciones de trabajo.
                     La opinión de nuestros clientes y colaboradores siempre será tomada en cuenta.
                </p>
                <p class="my-4 leading-relaxed">
                    <strong>Honestidad</strong>: Las acciones de quienes integramos esta empresa siempre serán con rectitud e integridad.
                </p>
            </div>

            <div class="border-t-4 border-blue-800 mx-4 my-6"></div>

            <div class="p-8 border border-gray-200 shadow-md rounded mx-4 hover:bg-blue-800 hover:text-white duration-300">
                <h3 class="text-xl font-semibold text-orange-600">
                    Compromiso
                </h3>
                <ul class="my-4 list-disc">
                    <li>
                        <p class="leading-relaxed">
                            Satisfacción total de nuestros clientes.
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Aplicar nuestra misión y visión en todos nuestros acuerdos.
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Hacer mejor nuestro trabajo.
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Colaborar para tener un buen ambiente de trabajo.
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Fomentar el trabajo en equipo.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="border-t-4 border-blue-800 mx-4 my-6"></div>

            <div class="p-8 border border-gray-200 shadow-md rounded mx-4 hover:bg-blue-800 hover:text-white duration-300">
                <h3 class="text-xl font-semibold text-orange-600">
                    Política de Calidad
                </h3>
                <p class="my-4 leading-relaxed">
                    Nuestra misión nos indica que debemos "satisfacer plenamente a nuestros clientes con productos de 
                    alta calidad producidos y formulados de manera eficiente y rentable, de manera que cada una de 
                    nuestras actividades tiendan a mejorar nuestra posición competitiva y financiera así como a 
                    incrementar el nivel de vida de los que aquí trabajamos." Por ello,
                     basamos nuestras actividades en una sólida Política de Calidad basada en estos principios:
                </p>
                <ul class="my-4 list-disc">
                    <li>
                        <p class="leading-relaxed">
                            Evaluar la satisfacción y analizar las expectativas de calidad de nuestros Clientes. 
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Lograr altos niveles financieros de rentabilidad y rotación que permitan un crecimiento sostenido y reinversión en tecnología. 
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Promover la gestión de la calidad a todo el personal, en todos los niveles y en todos los procesos de la Empresa. 
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Cumplir con los estándares y sistemas de calidad aplicables a nuestra industria.
                            Sustentar la mejora continua como prioridad de la gestión de la calidad,
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Convertir en especificaciones de nuestros productos y servicios las expectativas de nuestros clientes.
                        </p>
                    </li>
                    <li>
                        <p class="leading-relaxed">
                            Fomentar el trabajo en equipo.
                        </p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</BaseLayout>