---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout titulo="Multipolimeros | Nuestros servicios">
    <h1 class="w-full my-4 p-4 text-2xl font-semibold text-white text-center bg-blue-800 border-b-4 border-orange-600">
        Nuestros servicios
    </h1>

    <div class="w-100 p-8 grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="shadow border-b-4 border-blue-800">
            <img src="/images/resinas.jpg" alt="Imagen de servicio" class="w-full h-64 object-cover rounded-lg shadow-md">
            <div class="w-full p-4 bg-white rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-800">Maquila de resinas</h3>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    Contamos con la experiencia, 
                    tecnología y la capacidad para fabricar resinas con requerimientos 
                    especiales en planes tipo MAQUILA o en esquemas MIXTOS, \
                    lo cual nos permite hacer alianzas con nuestros clientes para diseñar 
                    planes de producción que sean más rentables y eficientes.
                </p>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    Tenemos sistemas de maquila con desarrollos de productos propios, 
                    desarrollos de productos de terceros, esquemas de confidencialidad, 
                    tanto operativa como tecnológica que se adaptan a las necesidades y 
                    requerimientos de nuestros clientes. Contáctenos para conocer a detalle sus 
                    necesidades y hacer el plan ideal para usted.
                </p>
            </div>
        </div>

        <div class="shadow border-b-4 border-blue-800">
            <img src="/images/recubrimientos.jpg" alt="Imagen de servicio" class="w-full h-64 object-cover rounded-lg shadow-md">
            <div class="w-full p-4 bg-white rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-800">Maquila de recubrimientos</h3>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    Nuestra tecnología y capacidad instalada nos permite maquilar todo tipo de pinturas y recubrimientos como esmaltes, pinturas latex, impermeabilizantes acrílicos, barnices, recubrimientos industriales, automotrices, para madera, selladores, epóxicos, de poliuretanos y cualquier pintura, incluso especialidades o aquellas sujetas a normatividad PEMEX, SCT o CFE.
                </p>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    Podemos ofrecer esquemas de producción de pinturas y recubrimientos con marcas propias, marcas privadas o desarrollo de marcas nuevas para su empresa. También ponemos a su disposición venta a granel o envasado, servicio de reenvasado, igualado y acondicionado de pinturas importadas o de fabricación especial para su correcta venta en nuestro país. 
                </p>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    Todo esto con nuestro respaldo tecnológico y comercial, así como con la confidencialidad y confianza que su negocio necesita.
                </p>
            </div>
        </div>

        <div class="shadow border-b-4 border-blue-800">
            <img src="/images/quimicos.jpg" alt="Imagen de servicio" class="w-full h-64 object-cover rounded-lg shadow-md">
            <div class="w-full p-4 bg-white rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-800">Mezcla y fusión de prod. químicos</h3>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    Nuestros servicios especiales incluyen la mezcla, fusión, dispersión, condensación y recuperación, elaboración de reacciones químicas de productos químicos en general. Esos productos incluyen solventes, polímeros, aditivos, reactivos, pastas, productos de limpieza, estética automotriz e industrial, resinas, pinturas, recubrimientos entre otros muchos, así como su envasado y acondicionamiento para la venta.
                </p>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    

Contamos con sistemas de almacenamiento y manejo de productos a granel, así como su preparación, envasado y empacado.
                </p>
            </div>
        </div>
    </div>
</BaseLayout>