---
const actualYear = new Date().getFullYear();
---

<footer class="p-4 bg-white md:flex md:items-center md:justify-between md:p-6 text-center">
    <span class="text-md text-gray-600 sm:text-center">© {actualYear} <a href="/" class="hover:underline">Multipolimeros™</a>. 
    </span>
    <div>
        <ul class="flex flex-wrap items-center  justify-center mt-3 text-md text-gray-500 sm:mt-0">
            <li>
                <a href="/" class="mr-4 hover:underline md:mr-6 ">Inicio</a>
            </li>
            <li>
                <a href="/productos" class="mr-4 hover:underline md:mr-6">Productos</a>
            </li>
            <li>
                <a href="/servicios" class="mr-4 hover:underline md:mr-6">Servicios</a>
            </li>
            <li>
                <a href="/contacto" class="hover:underline">Contacto</a>
            </li>
        </ul>
        <p class="text-gray-600 text-center my-8">
            <strong>Multi Polímeros, S.A. de C.V.</strong> <br>
            Otumba #2. La Loma . Tlalnepantla, Edo. Méx. <br>
            Tel: (55) 5365 8777 <br>
            Contactenos: <a href="mailto:ventas@multipolimeros.com" class="text-orange-600">ventas@multipolimeros.com</a>
        </p>
    </div>
    <a href="/files/20anos.pdf" target="_blank" class="text-md text-gray-500 text-center">
        Descarga nuestro catálogo
    </a>
</footer>
